<div id="main">
  <h2>Chat Room</h2>
  <div>
    <div  id="messages">
      <p class="received">Hello</p>
      <p class="sent">Hi</p>
      <p class="received">How are you doing</p>
      <p class="sent">Im doing all right</p>  
    </div>
    <form id="send_message">
      <input type="text" id="message" name="message">
      <button>Send</button>
    </form>
  </div>
</div>